body {
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.85);
    margin: 0;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

h1 {
    /* color: #007BFF; */
    margin: 0;
    padding: 0 0 0 20px;
    /* 上・右・下・左 */
}

#login_name {
    text-align: right;
    padding: 0;
    margin: 0 0 10px 20px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 60px 20px 40px;
    background-color: #f7f7f7;
    border: 50px solid #ccc;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

/* input {
    max-width: 478px;
    height: 10px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

textarea {
    max-width: 478px;
    height: 5s0px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#articleFeeling {
    font-size: 20px;
    width: 150px;
    height: 50px;
    text-align: center;
    margin: 0 0 10px 0;
}

button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.btn_water {
    background-color: #1C9BEF;
}

.btn_water:hover {
    background-color: #13659d;
}

.btn_black {
    background-color: black;
}

.btn_black:hover {
    background-color: rgb(61, 61, 61);
}

.one_post {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #949393;
}

#newsfeed {
    width: 100%;
}

.friend_name {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0 0 50px;
}

/* .icon {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
} */

.post_time {
    padding: 0 0 10px 50px;
}

.text {
    padding: 0 0 0 20px;
}

.feeling {
    text-align: right;
    padding: 0 40px 0 0;
}

.picture {
    width: 100%;
    padding: 0 0 40px 0;
}

#articlePicture {
    border: solid 5px red;
    /* background-color: red; */
    padding: 2rem;
    text-align: center;
}